# Puerto exterior para acceder a PostgreSQL desde el host
DB_PORT_OUT=5435

# Credenciales de la base de datos para Docker
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=tecnimatica_monitoring
